/* style.css */

#title {
	background-color: #b3c6ff;
}

.navbar {
	background-color: #000080;
    padding-bottom: 40px;
    padding-top: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.navbar-brand {
	font-size: 50px;
}

@media screen and (max-width: 450px) {
	.navbar-brand {
		font-size: 30px;
	}
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.main-page-content {
	text-align: center;
}

img {
	display: block;
    margin-right: auto;
    margin-left: auto;
}

.project-pic {
	max-width:100%;
	max-height:100%;
}

#SB  {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    height: 50%;
    width: 50%;
}

.circular {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-bottom: 25px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    /*background: url("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13232904_10209520582395938_4419694019361098416_n.jpg?oh=b35f45377f7a78aeec256b0a8c2861a7&oe=57F9F0DB") no-repeat center;*/
    box-shadow: 0 0 8px rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, .8);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, .8);
}