@import url(http://fonts.googleapis.com/css?family=Open+Sans:300); /*This is where we get our font from*/   

/*CSS comments are denoted a little differently than HTML comments*/

* { /*This is a good thing to include at the top of every css document that you write. It makes sizing elements much easier.*/
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body {
	font-family: 'Georgia', 'Times', 'Calibri', 'Arial', monospace;
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	background-color: #0003EF;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px; 
	color: #030303;
}

img {
    margin-left: auto;
    margin-right: auto;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px; 
    width: 100%;
    height: 100%;
}

a:link {
	color:#030303;
	text-decoration: none; 
}
a:visited {
	color:#030303;	
	text-decoration: none;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #0ABEF2;
}

.content {
	margin: auto;
	background-color: #CCFFFF;
	padding: 1%;
}

.header {
	display: inline;
	margin-left: 2%;
}

.header a {
	color: #99FF99;
	font-size: 80px;
	margin-right: 40px;
}

.header a:hover {
	color: #FF6600;
	background-color: #99FF99;
}

.header h2 {
	color: #0ABEF2;
	text-decoration: underline;
}

#meeseeks {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

#prof_pic {
	position: relative;
	min-width: 400px;
	margin: 5px 5px 5px 5px;
}

.project{
	margin-left: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-top:0;
	padding: 5px;
	background-color: #CCFFFF;
	width: 31%;
	min-width: 400px;
	float:left;
 	box-shadow: 1px 1px 3px #00005C;
}

li a:link {
	color: #00005C;
}

li a:hover {
	color: #0ABEF2;
	background-color: red;
}

.project img{
	margin: 10px;
	display:block;
	width: 100%;
	float: right;
}


/*
"Grey, Basic format"
h1{
    font-family: Verdana;
    color: #576D94;
}
*/
